body{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 100%;
    height: 200vh;
   
}
nav{
    background-color:beige;
    height: 4%;
    position: sticky;
    top:0;
    z-index: 1;
    border-bottom:4px solid rgb(214 199 173) ;
}
ul{
    display: flex;
    list-style-type: none;
    margin-left: -44px;
}
li{
    margin-left: 15px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
li:hover{
    color: yellow;
}
.box1{
    width: 98%;
    height: 47%;
    background-color:black;
    background-image: url(./images/pexels-bertellifotografia-13870906.jpg);
    /* background-size: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    margin-left: 13px;
    position: relative;
 

   
}
.tiny1{
    width: 63px;
    height: 57px;
    background-color:beige;
    position: absolute;
    left: 0;
    top: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tiny2{
    width: 63px;
    height: 57px;
    background-color:beige;
    position: absolute;
    right: 0;
    top: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tiny2:hover{
    background-color: coral;
}
.tiny1:hover{
    background-color: coral;
}
.box2{
    width: 98%;
    height: 48%;
    background-color: beige;
    position: relative;
    left: 13px;
    display: flex;
}
.main{
    width: 600px;
    height: 305px;
    background-color: beige;
    position: absolute;
    left:50% ;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: colmn;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
button{
    width: 161px;
    height: 45px;
    color: rgb(107, 7, 7);
    font-weight: 700;
    border: 3px solid rgb(214 199 173);
    border-radius: 6px;
    margin-top: 23px;
    
}
h3{
    display: inline;
    margin: 0;
    margin-top: 2px;
}
.h{
    margin: 0;
    margin-top: 22px;
    margin-bottom: 9px;
}
h1{
    margin: 0;
}
button:hover{
    background-color:coral;
}
.first{
    width: 70%;
    height: 96%;
    background-color: beige;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right:4px solid rgb(214 199 173);
    
}
.im{
    width: 643px;
    height: 362px;
}
.head{
    text-align: center;
    margin-bottom: 21px;
}
.second{
    display: flex;
    flex-direction: column;
    width: 29.8%;
    height: 102%;
    background-color: beige;
}
.sub1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
     
}
.g1{
    width: 190px;
    height: 190px;
    border-radius: 100px;
    margin-top: 8px;
}
.sub2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top:4px solid rgb(214 199 173) ;
    border-bottom: 4px solid rgb(214 199 173);
    
}
p{
    text-align: center;
}
.bt{
    background-color: black;
    border: none;
    color: aliceblue;
    width: 245px;
    border-radius: 0;
}
.ser{
    width: 95%;
    height: 100%;
    background-image: url(./images/pexels-hadislash-3887990.jpg);
    background-size: cover;

    
}
.custom{
  border: none;         
  font-size: medium;       
     /* Adds spacing */
  outline: none;  
  font-weight: bold;       /* Removes focus border */
  margin-bottom: 2px;
  background-color: transparent;
  padding-top: 0;
}